<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
  <resultMap id="memberResultSet" type="member">
    <id column="USER_ID" property="userId"/>
    <result column="USER_NAME" property="userName"/>
    <result column="EMAIL" property="email"/>
    <result column="GENDER" property="gender"/>
    <result column="AGE" property="age"/>
    <result column="ENROLL_DATE" property="enrollDate"/>
    <result column="STATUS" property="status"/>
    <result column="PHONE" property="phone"/>
    <result column="ADDRESS" property="address" />
  </resultMap>


  <select id="selectMemberList" resultMap="memberResultSet">
    SELECT USER_ID, USER_NAME, EMAIL, GENDER, AGE, ENROLL_DATE, STATUS
    FROM MEMBER
    WHERE USER_ID != 'admin'
    ORDER BY USER_ID ASC
  </select>

  <select id="selectMember" parameterType="string" resultMap="memberResultSet">
    SELECT USER_ID, USER_NAME, EMAIL, GENDER, AGE, ENROLL_DATE, STATUS, PHONE, ADDRESS
    FROM MEMBER
    WHERE USER_ID = #{userId}
  </select>

  <update id="updateMember" parameterType="member">
    UPDATE MEMBER
    SET USER_ID = #{userId},
        USER_NAME = #{userName}, 
        EMAIL = #{email}, 
        GENDER = #{gender}, 
        AGE = #{age}, 
        ENROLL_DATE = #{enrollDate}, 
        STATUS = #{status}, 
        PHONE = #{phone}, 
        ADDRESS  = #{address}
    WHERE USER_ID = #{userId}
  </update>

</mapper>